.app{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header{
  width: 100%;
}
.content {
  padding-top: 2rem;
  width: 100%;
  flex-grow: 1;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #d1bde0;
}

.viewer{
  position: relative;
  width: inherit;
  margin: auto;
}
.button-group{
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.delete-button{
  color: red;
  background-color: white;
  border: 1px solid black;
  margin-left: 2.5vw;
  margin-top: 2.5vw;
  font-size: 5vw;
  border-radius: 50%;
  position: absolute;
}

.delete-button:hover{
  cursor: pointer;
}
