.app{
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .header{
    width: 100%;
  }
  .content {
    padding-top: 2rem;
    width: 100%;
    flex-grow: 1;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #d1bde0;
  }
  
  .viewer{
    position: relative;
    width: inherit;
    margin: auto;
  }
  .button-group{
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  