.photo-viewer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: auto;
    margin: 5vw auto;
    border: 1px solid black;
    overflow: hidden;
    position: relative;
}

.image-viewer {
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
    transform-origin: center center;
}
