.viewer-section{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: auto;
    margin: 5vw auto;
}

.photo-viewer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: auto;
    border: 1px solid black;
    overflow: hidden;
    position: relative;
}

.image-viewer {
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
    transform-origin: center center;
}

.description-viewer{
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.description-viewer label{
    color: rgb(80, 80, 80);
}

.description-viewer input{
    width: 100%;
}